# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [4]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [13]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fintech_server")

query = """
SELECT cc.cardholder_id,
       t.*
FROM credit_card cc
LEFT JOIN transaction t ON t.card = cc.card
WHERE cc.cardholder_id IN ('2', '18', '25')  -- Choose 3 random cardholders
"""
card_holders_df = pd.read_sql(query, engine)
card_holders_df

,cardholder_id,id,date,amount,card,id_merchant
0,18,567,2018-01-01 23:15:10,2.95,4498002758300,64
1,25,2083,2018-01-02 02:06:21,1.46,4319653513507,93
2,25,1552,2018-01-05 06:26:45,10.74,372414832802279,86
3,18,2077,2018-01-05 07:19:27,1.36,344119623920892,30
4,2,2439,2018-01-06 02:16:41,1.33,4866761290278198714,127
...,...,...,...,...,...,...
351,18,114,2018-12-28 08:45:26,3.46,4498002758300,82
352,18,1228,2018-12-28 09:00:45,12.88,344119623920892,60
353,2,962,2018-12-28 15:30:55,11.03,675911140852,2
354,18,1218,2018-12-29 08:11:55,12.25,4498002758300,6
355,25,2585,2018-12-30 11:05:36,17.11,372414832802279,126

In [14]:
# Write function that locates outliers using standard deviation
def std_outlier(dataframe, column_name, num_stds=3):

    if column_name not in dataframe.columns:
        raise ValueError(f"Column '{column_name}' not found in the DataFrame.")

    mean = dataframe[column_name].mean()
    std = dataframe[column_name].std()

    lower_bound = mean - num_stds * std
    upper_bound = mean + num_stds * std

    outlier_indices = dataframe[(dataframe[column_name] < lower_bound) |
                              (dataframe[column_name] > upper_bound)].index

    if not outlier_indices.empty:
        return dataframe.loc[outlier_indices]
    else:
        return None  # No outliers found

In [15]:
# Find anomalous transactions for 3 random card holders
for cardholder_id in card_holders_df['cardholder_id'].unique():
    cardholder_data = card_holders_df[card_holders_df['cardholder_id'] == cardholder_id]
    outlier_df = std_outlier(cardholder_data, 'amount')

    print(f"Outliers for cardholder {cardholder_id}:")
    if outlier_df is not None:
        print(outlier_df)
    else:
        print("No outliers found.")

Outliers for cardholder 18:
     cardholder_id    id                date  amount             card  \
44              18  3098 2018-02-19 22:48:25  1839.0  344119623920892
98              18  1359 2018-04-03 03:23:37  1077.0  344119623920892
148             18  3139 2018-06-03 20:02:28  1814.0  344119623920892
245             18  1431 2018-09-10 22:49:41  1176.0  344119623920892
316             18  3252 2018-11-17 05:30:43  1769.0  344119623920892
336             18  1326 2018-12-13 12:09:58  1154.0  344119623920892

     id_merchant
44            95
98           100
148          123
245           72
316           18
336            8
Outliers for cardholder 25:
     cardholder_id    id                date  amount           card  \
30              25  1415 2018-01-30 18:31:00  1177.0  4319653513507
59              25  2840 2018-03-06 07:18:09  1334.0  4319653513507
100             25  1341 2018-04-08 06:03:50  1063.0  4319653513507
128             25  1377 2018-05-13 06:31:20  1046.0  4319653513507
149             25  1790 2018-06-04 03:46:15  1162.0  4319653513507
172             25  2582 2018-06-22 06:16:50  1813.0  4319653513507
344             25  1863 2018-12-18 13:33:37  1074.0  4319653513507

     id_merchant
30            64
59            87
100           16
128           48
149           96
172           40
344           67
Outliers for cardholder 2:
No outliers found.

## Identifying Outliers Using Interquartile Range

In [16]:
def iqr_outlier(dataframe, column_name):
   
    if column_name not in dataframe.columns:
        raise ValueError(f"Column '{column_name}' not found in the DataFrame.")

    q1 = dataframe[column_name].quantile(0.25)
    q3 = dataframe[column_name].quantile(0.75)
    iqr = q3 - q1

    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr

    outlier_indices = dataframe[(dataframe[column_name] < lower_bound) |
                              (dataframe[column_name] > upper_bound)].index

    if not outlier_indices.empty:
        return dataframe.loc[outlier_indices]
    else:
        return None  # No outliers found

In [17]:
# Find anomalous transactions for 3 random card holders
for cardholder_id in card_holders_df['cardholder_id'].unique():
    cardholder_data = card_holders_df[card_holders_df['cardholder_id'] == cardholder_id]
    outlier_df = iqr_outlier(cardholder_data, 'amount')

    print(f"Outliers for cardholder {cardholder_id}:")
    if outlier_df is not None:
        print(outlier_df)
    else:
        print("No outliers found.")

Outliers for cardholder 18:
     cardholder_id    id                date  amount             card  \
6               18  3457 2018-01-07 01:10:54   175.0  344119623920892
9               18   812 2018-01-08 11:15:36   333.0  344119623920892
44              18  3098 2018-02-19 22:48:25  1839.0  344119623920892
98              18  1359 2018-04-03 03:23:37  1077.0  344119623920892
148             18  3139 2018-06-03 20:02:28  1814.0  344119623920892
181             18   654 2018-06-30 01:56:19   121.0  344119623920892
194             18   560 2018-07-06 16:12:08   117.0  344119623920892
203             18   136 2018-07-18 09:19:08   974.0  344119623920892
240             18  2103 2018-09-02 11:20:42   458.0  344119623920892
245             18  1431 2018-09-10 22:49:41  1176.0  344119623920892
316             18  3252 2018-11-17 05:30:43  1769.0  344119623920892
336             18  1326 2018-12-13 12:09:58  1154.0  344119623920892

     id_merchant
6             12
9             95
44            95
98           100
148          123
181           20
194           62
203           19
240           10
245           72
316           18
336            8
Outliers for cardholder 25:
     cardholder_id    id                date  amount           card  \
30              25  1415 2018-01-30 18:31:00  1177.0  4319653513507
59              25  2840 2018-03-06 07:18:09  1334.0  4319653513507
93              25   774 2018-04-01 07:17:21   100.0  4319653513507
100             25  1341 2018-04-08 06:03:50  1063.0  4319653513507
104             25   329 2018-04-09 18:28:25   269.0  4319653513507
128             25  1377 2018-05-13 06:31:20  1046.0  4319653513507
149             25  1790 2018-06-04 03:46:15  1162.0  4319653513507
154             25   224 2018-06-06 21:50:17   749.0  4319653513507
172             25  2582 2018-06-22 06:16:50  1813.0  4319653513507
229             25  1877 2018-08-16 10:01:00  1001.0  4319653513507
288             25  2051 2018-10-28 02:12:58   137.0  4319653513507
344             25  1863 2018-12-18 13:33:37  1074.0  4319653513507

     id_merchant
30            64
59            87
93           111
100           16
104           36
128           48
149           96
154           36
172           40
229          120
288           16
344           67
Outliers for cardholder 2:
No outliers found.